@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Nav */
a {
  text-decoration: none;
}

a:hover {
  opacity: 0.85;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botao-especies {
  color: #1351b4;
  border: none;
  background-color: #fff;
}

.botao-entrar {
  border-radius: 28px;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #1351b4;
}

.lista-telas {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 25px;
}

/* MAIN */
.title {
  text-align: center;
}

.dados-estatisticos {
  background-color: #0c326f;
  color: #ffffff;
  text-align: center;
}

.dados-estatisticos__titulo {
  text-align: center;
}

.dados-estatisticos__dados {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dado__numero {
  font-size: 8em;
  font-weight: bold;
}

.conteudos {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 15px;
}

/* Campo artigos e site abaixo da linha azul */
.arch-section {
  display: flex;
  justify-content: space-around;
}

.articles p {
  font-size: 15px;
}

.articles li {
  list-style-type: none;
  text-align: start;
}

.foto-ibama p {
  font-size: 13px;
}

.articles li a {
  color: #0c326f;
}

.foto-ibama a {
  color: #0c326f;
}

footer {
  background-color: #071d41;
  color: #ffffff;
  flex-direction: column;
}

footer h6 {
  font-size: 15px;
}

footer p {
  font-size: 15px;
}
