@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* GERAL */
:root {
  --blue: #1351b4;
  --medium-blue: #0c326f;
  --dark-blue: #071d41;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.85;
}

/* HEADER */
header {
  padding: 25px 25px 0;
}

/* MENU DE NAVEGAÇÃO */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 15px;
  }
}

.botao-especies {
  color: var(--blue);
}

.botao-entrar {
  color: white;
  background-color: var(--blue);
  padding: 8px 20px;
  border-radius: 25px;
}

.lista-telas {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 25px;
}

/* SEÇÃO PRINCIPAL */
.titulo {
  text-align: center;
}

.dados-estatisticos {
  background-color: var(--medium-blue);
  color: white;
  text-align: center;
  margin: 20px 0;
}

.dados-estatisticos__titulo {
  text-align: center;
}

.dados-estatisticos__dados {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .dados-estatisticos__dados {
    flex-direction: column;
  }
}

.dado__numero {
  font-size: 8em;
  font-weight: bold;
}

.conteudos {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 15px;
}

main {
  min-height: calc(100vh - 200px);
}

main > :not(.dados-estatisticos) {
  padding: 20px 60px;
}

@media screen and (max-width: 768px) {
  main > :not(.dados-estatisticos) {
    padding: 20px 30px;
  }
}

/* SEÇÃO DE ARTIGOS */
.artigos {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .artigos {
    flex-direction: column;
  }
  .artigos__artigo-destaque {
    margin-bottom: 20px;
  }
}

.artigos__artigo-destaque img {
  width: 100%;
}

.artigos h3 {
  text-transform: uppercase;
}

.artigos__lista-de-artigos__links {
  list-style: none;
  line-height: 30px;
}

/* CADASTRO PARA ENTRAR */
.conteudo-geral {
  display: flex;
  justify-content: space-between;
  margin: 70px;
}

.card-cadastro {
  border-radius: 10px;
  box-shadow: 3px 3px 3px #ccc;
  background-color: #ffff;
  padding: 30px 50px 30px 50px;
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.form-cadastro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.entrada {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  background-color: #ededed;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  padding: 8px;
}

.imagem-especie_cadastro {
  width: 100%;
}

.informacao-cadastro {
  max-width: 750px;
}

.logo-slogan_cadastro {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 0px 10px 0px;
  text-align: justify;
}

.informacao-caracol {
  text-align: justify;
  padding: 10px 0px 0px 0px;
}

.botao-continuar {
  color: white;
  background-color: var(--blue);
  margin: auto 0px auto 150px;
  padding: 8px;
  border-style: none;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.botao-continuar:hover {
  opacity: 0.8;
}

.ajuda {
  line-height: 35px;
}

@media screen and (max-width: 768px) {
  .conteudo-geral {
    flex-direction: column;
    align-items: center;
    margin: 30px;
  }
  .informacao-caracol {
    padding: 10px 0px 30px 0px;
  }
  .card-cadastro {
    width: auto;
  }
}

/* FOOTER */
footer {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  padding: 25px;
}

footer h3,
footer a {
  color: white;
}
